.nav {
  background-color: orange; }
  .nav ul li {
    list-style: none; }
  .nav a {
    text-decoration: none;
    font-size: 20px;
    font-family: monospace; }
    .nav a:hover {
      color: orange;
      background-color: royalblue; }

.header, h1, .footer h3 {
  color: orange;
  font-size: 40px;
  background-color: gray;
  text-align: center; }

h1:hover, .footer h3:hover {
  background-color: royalblue; }

.banner p {
  font-size: 60px; }
