/* ------------------- */
/* Colors Start        */
/* ------------------- */
$colors: (
  "black": $black,
  "white": $white,
  "orange": $orange,
);

@each $color, $value in $colors {
  .bg-#{$color} {
    background: $value;
  }
}

@each $color, $value in $colors {
  .text-#{$color} {
    color: $value;
  }
}

/* ------------------- */
/* Font weights Start  */
/* ------------------- */
$fonts-weights: (
  weights: (
    400: $fw-400,
    500: $fw-500,
    600: $fw-600,
    700: $fw-700,
    800: $fw-800,
    900: $fw-900,
  ),
);

@each $fonts-weight, $weights in $fonts-weights {
  @each $weight, $value in $weights {
    .fw-#{$value} {
      font-weight: $value;
    }
  }
}

/* ------------------- */
/* Font sizes Start    */
/* ------------------- */
$font-sizes: (
  fonts: (
    "10": $fs-10,
    "11": $fs-11,
    "12": $fs-12,
    "13": $fs-13,
    "14": $fs-14,
    "15": $fs-15,
  ),
);

@each $fonts-size, $fonts in $font-sizes {
  @each $font, $value in $fonts {
    .fs-#{$font} {
      font-size: $value;
    }
  }
}
