/* ------------------- */
/* Font sizes          */
/* ------------------- */
$fs-10: 10px;
$fs-11: 11px;
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;

/* ------------------- */
/* Font family         */
/* ------------------- */
$ff-serif: "Montserrat", sans-serif;

/* ------------------- */
/* Colors              */
/* ------------------- */
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$orange: hsl(38, 100%, 44%);


/* ------------------- */
/* Font weight         */
/* ------------------- */
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

/* ------------------- */
/* Font Path           */
/* ------------------- */
$fonts-path: "../fonts" !default;

/* ------------------- */
/* Image Path          */
/* ------------------- */
$image: "../images" !default;

/* ------------------- */
/* Convert px to rem   */
/* ------------------- */
$scut-rem-base: 16 !default;
